@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: "SK Modernist Regular", sans-serif;
  --font-sk-bold: "SK Modernist Bold", sans-serif;
  --font-sk-mono: "SK Modernist Mono", monospace;
  --font-sk-regular: "SK Modernist Regular", sans-serif;

  --color-brand-primary: var(--brand-primary);
  --color-brand-secondary: var(--brand-secondary);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --color-border: var(--border);
  --color-steps-bg: var(--steps-bg);

  --color-muted: var(--muted);
  --color-warning: var(--warning);
  --color-destructive: var(--destructive);

  --color-tab-filled: var(--toggle-filled);
  --color-dark-base-40: var(--dark-base-40);
}

:root {
  --brand-primary: #053d27;
  --brand-secondary: #fab403;

  --text-primary: #545859;
  --text-secondary: #0b1012;

  --primary: #fff;
  --secondary: #0b1012;

  --border: #d0d5dd80;
  --steps-bg: #fab40333;

  --muted: #c5c6c9;
  --warning: #fab403;
  --destructive: #cc0e11;

  --input-stroke: #d0d5dd;
  --toggle-filled: #f6f6f6;
  --gradient-2: linear-gradient(165deg, #e6faf2 -11.22%, #e3cf9b 219.35%);

  --primary-90: #1e503d;
  --dark-base-40: #9d9fa0;
  --focus-ring: rgba(5, 61, 39, 0.2);
  --shadow-ring: 0 1px 2px rgba(16, 24, 40, 0.05);
}

* {
  box-sizing: border-box;
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

.layout-body {
  background: linear-gradient(to bottom right, #fff 18.59%, #fcedc6 143.2%);
}

button {
  cursor: pointer;
}

.header {
  background: linear-gradient(to bottom right, #053d27 21.47%, #fab403 289.64%);
}

.highlight-inside {
  box-shadow: inset 5px 0 15px #267556, inset 0 0 5px #267556;
}

.highlight-inside:hover {
  box-shadow: inset 0px 0 0px #26755500, inset 0 0 0px #26755500;
}

.grad-btn {
  color: white;
  background: var(
    --gradient,
    linear-gradient(143deg, #053d27 21.47%, #fab403 289.64%)
  );
}

.beehive-home-hero-section {
  border-radius: 24px;
  border: 1px solid var(--border);
  background: linear-gradient(165deg, #e6faf2 -11.22%, #e3cf9b 219.35%);
}

.card-base {
  border-radius: 24px;
  border: 1px solid var(--input-stroke);
  background: var(--gradient-2);
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
}

.tab {
  border: 1px solid var(--input-stroke);
  opacity: 0.8;
}
