@font-face {
  font-family: "SK Modernist";
  src: url("https://woplvzpumzbpydgumpgc.supabase.co/storage/v1/object/public/assets/assets/fonts/Sk-Modernist-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SK Modernist";
  src: url("https://woplvzpumzbpydgumpgc.supabase.co/storage/v1/object/public/assets/assets/fonts/Sk-Modernist-Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SK Modernist Mono";
  src: url("https://woplvzpumzbpydgumpgc.supabase.co/storage/v1/object/public/assets/assets/fonts/Sk-Modernist-Mono.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: "SK Modernist", sans-serif;
  --font-mono: "SK Modernist Mono", monospace;

  --color-brand-primary: var(--brand-primary);
  --color-brand-secondary: var(--brand-secondary);
  --color-brand-secondary-transparent: var(--brand-secondary-transparent);

  --color-text-primary: var(--text-primary);
  --color-text-primary-2: var(--text-primary-2);
  --color-text-medium: var(--text-medium);
  --color-text-secondary: var(--text-secondary);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-background-gradient: var(--background-gradient);

  --color-border: var(--border);
  --color-steps-bg: var(--steps-bg);
  --color-input-filled: var(--input-filled);
  --color-input-stroke: var(--input-stroke);
  --color-inactive-color: var(--inactive-color);

  --color-muted: var(--muted);
  --color-warning: var(--warning);
  --color-destructive: var(--destructive);
  --color-success: var(--success);

  --color-toggle-filled: var(--toggle-filled);
  --color-soft-green: var(--soft-green);

  /* --breakpoint-md: 58.25rem;
  --breakpoint-lg: 64rem; */
  --inset-shadow-md: 2px 0 0 0 #053d27 inset;
  --color-fresh-green: var(--fresh-green);
  --color-dark-base-100: var(--black-100);
  --color-dark-base-90: var(--black-90);
  --color-dark-base-80: var(--black-80);
  --color-dark-base-70: var(--black-70);
  --color-dark-base-60: var(--black-60);
  --color-dark-base-50: var(--black-50);
  --color-dark-base-40: var(--black-40);
  --color-dark-base-30: var(--black-30);
  --color-dark-base-20: var(--black-20);
  --color-dark-base-10: var(--black-10);
  --color-neutral-100: var(--neutral-10);
  --color-primary-100: var(--green-100);
  --color-primary-90: var(--green-90);
  --color-primary-80: var(--green-80);
  --color-primary-70: var(--green-70);
  --color-primary-60: var(--green-60);
  --color-primary-50: var(--green-50);
  --color-primary-40: var(--green-40);
  --color-primary-30: var(--green-30);
  --color-primary-20: var(--green-20);
  --color-primary-10: var(--green-10);
  --color-secondary-100: var(--yellow-100);
  --color-secondary-90: var(--yellow-90);
  --color-secondary-80: var(--yellow-80);
  --color-secondary-70: var(--yellow-70);
  --color-secondary-60: var(--yellow-60);
  --color-secondary-50: var(--yellow-50);
  --color-secondary-40: var(--yellow-40);
  --color-secondary-30: var(--yellow-30);
  --color-secondary-20: var(--yellow-20);
  --color-secondary-10: var(--yellow-10);
  --color-secondary-green-100: var(--leaf-green-100);
  --color-danger-100: var(--red-100);
  --color-gray-35: var(--gray-35);
  --color-gray-30: var(--gray-30);
  --color-gray-25: var(--gray-25);
  --color-gray-20: var(--gray-20);
  --text-xs: 1rem;
  --text-sm: 1.2rem;
  --text-md: 1.4rem;
  --text-base: 1.6rem;
  --text-lg: 2rem;
  --text-xl: 2.4rem;
  --text-2xl: 3.2rem;
  --text-3xl: 4rem;
  --text-4xl: 4.8rem;
  --spacing: 0.4rem;
  --leading-base: 140%;
  --radius: 0.4rem;
  --radius-sm: 0.6rem;
  --radius-md: 0.8rem;
  --radius-lg: 1rem;
  --shadow-sm: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
}

:root {
  /* fonts */

  /* colors */
  --brand-primary: #053d27;
  --brand-secondary: #fab403;
  --brand-secondary-transparent: #fab4031a;

  --text-primary: #545859;
  --text-primary-2: #6d7071;
  ---text-medium: #494e50;
  --text-secondary: #0b1012;

  --primary: #ffffff;
  --secondary: #0b1012;
  --background: #ffffff;
  --background-gradient: linear-gradient(
    to bottom right,
    #fff 18.59%,
    #fcedc6 143.2%
  );

  --border: #d0d5dd80;
  --steps-bg: #fab40333;
  --input-filled: #f8f8f8;
  --inactive-color: #c5c6c9;

  --muted: #c5c6c9;
  --warning: #fab403;
  --destructive: #cc0e11;
  --success: #29953e;

  --input-stroke: #d0d5dd;
  --toggle-filled: #f6f6f6;
  --gradient-2: linear-gradient(165deg, #e6faf2 -11.22%, #e3cf9b 219.35%);

  --primary-90: #1e503d;
  --dark-base-40: #9d9fa0;
  --dark-base-70: #545859;

  --focus-ring: rgba(5, 61, 39, 0.2);
  --shadow-ring: 0 1px 2px rgba(16, 24, 40, 0.05);
  --soft-green: #f7fffc;

  --card-gradient: linear-gradient(165deg, #e6faf2 -11.22%, #e3cf9b 219.35%);

  --black-110: #1b1b1b;
  --black-100: #0b1012;
  --black-90: #23282a;
  --black-80: #3c4041;
  --black-70: #545859;
  --black-60: #6d7071;
  --black-50: #858788;
  --black-40: #9d9fa0;
  --black-30: #b6b7b8;
  --black-20: #cecfd0;
  --black-10: #e7e7e7;
  --green-100: #053d27;
  --green-90: #1e503d;
  --green-80: #376452;
  --green-70: #507768;
  --green-60: #698b7d;
  --green-50: #829e93;
  --green-40: #9bb1a9;
  --green-30: #b4c5be;
  --green-20: #cdd8d4;
  --green-10: #e6ece9;
  --yellow-100: #fab403;
  --yellow-90: #fbbc1c;
  --yellow-80: #fbc335;
  --yellow-70: #fccb4f;
  --yellow-60: #fcd268;
  --yellow-50: #fdd981;
  --yellow-40: #fde19a;
  --yellow-30: #fde9b3;
  --yellow-20: #fef0cd;
  --yellow-10: #fef7e6;
  --leaf-green-100: #29953e;
  --red-100: #cc0e11;
  --gray-35: #c5c6c9;
  --gray-30: #d0d5dd;
  --gray-25: #f8f8f8;
  --gray-20: #f6f6f6;
}

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  font-family: "SK Modernist", sans-serif;
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
  /* -webkit-text-size-adjust: 100%; */
}

body {
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

body,
html,
input,
textarea,
select,
button {
  font-family: inherit;
}

*::-webkit-scrollbar {
  display: none !important;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "SK Modernist", sans-serif;
  scroll-behavior: smooth;
  font-weight: 400;
  background: var(--background);
  color: var(--text-primary);
}

body,
html,
input,
textarea,
select,
button {
  font-family: inherit;
}

.layout-body {
  background: var(--background-gradient);
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.header {
  background: linear-gradient(
    to bottom right,
    var(--brand-primary) 21.47%,
    var(--brand-secondary) 289.64%
  );
}

.highlight-inside {
  box-shadow: inset 2px 0 4px
      color-mix(in srgb, var(--primary) 40%, transparent),
    inset 0 0 1px color-mix(in srgb, var(--primary) 30%, transparent);
}

.highlight-inside:hover {
  box-shadow: none;
  border: 1px solid var(--brand-primary);
}

.grad-btn {
  color: white;
  background: linear-gradient(
    to bottom right,
    var(--brand-primary) 21.47%,
    var(--brand-secondary) 289.64%
  );
}

.beehive-home-hero-section {
  border-radius: 24px;
  border: 1px solid var(--border);
  background: linear-gradient(
    165deg,
    color-mix(in srgb, var(--brand-primary) 8%, white) -11.22%,
    color-mix(in srgb, var(--brand-secondary) 20%, white) 219.35%
  );
}

.card-base {
  background: var(--card-gradient);
  /* box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05); */
}

.tab {
  border: 1px solid var(--input-stroke);
  opacity: 0.8;
}

.gradient-button-secondary-primary {
  background: linear-gradient(267deg, var(--brand-primary) -12.17%, var(--brand-secondary) 125.17%)
}

@layer components{
  .bg-brand-gradient-1 {
    @apply bg-[linear-gradient(180deg,#053d27_0%,#fab403_100%)];
  }
  .bg-brand-gradient-2 {
    @apply bg-[linear-gradient(143deg,#053D27_21.47%,#FAB403_289.64%)];
  }
  .bg-gradient-yellow-1 {
    @apply bg-[linear-gradient(149deg,#FFFFFF_18.59%,#FCEDC6_143.2%)];
  }
  .section-heading {
    @apply text-xl font-bold leading-[120%];
  }
  .icon-list-item{
    @apply flex items-center gap-1.5 text-dark-base-70 font-bold leading-base;
  }
  .text-btn {
    @apply text-md underline leading-base font-normal cursor-pointer;
  }
}