@font-face {
  font-family: "SK Modernist";
  src: url("https://woplvzpumzbpydgumpgc.supabase.co/storage/v1/object/public/assets/assets/fonts/Sk-Modernist-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SK Modernist";
  src: url("https://woplvzpumzbpydgumpgc.supabase.co/storage/v1/object/public/assets/assets/fonts/Sk-Modernist-Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SK Modernist Mono";
  src: url("https://woplvzpumzbpydgumpgc.supabase.co/storage/v1/object/public/assets/assets/fonts/Sk-Modernist-Mono.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: "SK Modernist", sans-serif;
  --font-mono: "SK Modernist Mono", monospace;

  --color-brand-primary: var(--brand-primary);
  --color-brand-secondary: var(--brand-secondary);

  --color-text-primary: var(--text-primary);
  --color-text-primary-2: var(--text-primary-2);
  --color-text-secondary: var(--text-secondary);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --color-border: var(--border);
   --color-steps-bg: var(--steps-bg);
     --color-input-filled: var(--input-filled);
  --color-inactive-color: var(--inactive-color);

  --color-muted: var(--muted);
  --color-warning: var(--warning);
  --color-destructive: var(--destructive);
}

:root {
  --brand-primary: #053d27;
  --brand-secondary: #fab403;

  --text-primary: #545859;
  --text-primary-2: #6D7071;
  --text-secondary: #0b1012;

  --primary: #fff;
  --secondary: #0b1012;

  --border: #d0d5dd80;
    --steps-bg: #fab40333;
     --input-filled: #f8f8f8;
  --inactive-color: #c5c6c9;

  --muted: #c5c6c9;
  --warning: #fab403;
  --destructive: #cc0e11;
}

* {
  box-sizing: border-box;
  font-family: "SK Modernist", sans-serif;
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "SK Modernist", sans-serif;
  scroll-behavior: smooth;
  font-weight: 400;
}

body,
html,
input,
textarea,
select,
button {
  font-family: inherit;
}

.layout-body {
  background: linear-gradient(to bottom right, #fff 18.59%, #fcedc6 143.2%);
}

button {
  cursor: pointer;
}

.header {
  background: linear-gradient(to bottom right, #053d27 21.47%, #fab403 289.64%);
}

.highlight-inside {
  box-shadow: inset 5px 0 15px #267556, inset 0 0 5px #267556;
}

.highlight-inside:hover {
  box-shadow: inset 0px 0 0px #26755500, inset 0 0 0px #26755500;
}

.grad-btn {
  color: white;
  background: linear-gradient(to bottom right, #053d27 21.47%, #fab403 289.64%);
}

.beehive-home-hero-section {
  border-radius: 24px;
  border: 1px solid var(--border);
  background: linear-gradient(165deg, #e6faf2 -11.22%, #e3cf9b 219.35%);
}
